.container {
  display: flex;
  align-items: center;
  gap: 5px;
  flex-direction: column;
  background-color: #fff;
  padding: 20px;
  min-width: 50%;
  border-radius: 8px;
  box-shadow: 0 2px 4px #0003;
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
}
